.NextStep {
  background-color: #009e00;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.NextStep:hover {
  background-color: green;
}
.NextStep[disabled] {
  display: none;
}

.Content {
  display: flex;
  flex: 1;
  align-content: flex-end;
}
